div#signBox {
    text-align: center;
}

div#signBox > div {
    text-align: center;
    display: inline-block;
    width: 35%;
    margin: 2%;
}

div#signBox > > button {
    margin-top: 1%;
}

img.img2 {
    width: 100%;
    height: 80%;
    padding: 5%;
}

div#login-detail, div#info-detail, button.btn-large {
    font-size: 20px;
}

table#gym-container{
    width: 100%;
}

label.gym-checkbox {
    margin: 5px;
    border-radius: 5%;
    padding-right: 5px;
    border: none;
    background-color: #0785AB;
    width: 75%;
}

button[disabled=disabled] {
    background-image: none;
}